/* MAIN BODY SETTINGS ------------------------------------------------------- */
body {
    background: url('../../images/crimenet.jpg') no-repeat center center fixed;
    background-color: #21364f;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #fbfbfb;
    width: 100%;
    height: 100%;
}
body.greenscreen { background-image: none !important; background-color: #00ff24; margin-top: 5em;}

/* HEADER & LOGO ------------------------------------------------------------ */
img {
    margin: 2em auto 0 auto;
    display: block;
}
/* Random Mission Selector */
p#subtitle {
    display: block;
    font-size: 1.6em;
    font-weight: 700;
    margin: 0 auto 2.5em auto;
    letter-spacing: 0.5em;
    text-shadow: -2px 2px 4px #000;
    text-align: center;
}
.faded { opacity: 0.7;}

/* CONTENT CONTAINER -------------------------------------------------------- */
div#paint {
    background: url('../../images/paint.png') no-repeat center center;
    width: 813px;
    height: 413px;
    margin: 1.5em auto;
    padding: 5px 0 0 0;
}
/* Main black container for data */
div#container{
    width: 500px;
    max-width: 500px;
    height: 250px;
    background: #000;
    margin: 25px auto 0 auto;
    padding: 1em 0 0 0;
}

/* CONTENT FORMATTING ------------------------------------------------------- */
p#mission_name {
    font-size: 4em;
    font-weight: 700;
    margin: 0.2em 0 0.4em 0; padding: 0;
    text-align: center;
    display: block;
}
p.details {
    font-size: 1.5em;
    font-weight: 400;
    display: inline-block;
    width: 43%;
    margin-top: 1em;
}
p.left {
    text-align: left;
    padding-left: 1.5em;
}
p.right {
    text-align: right;
    padding-right: 1.5em;
}
#mission_dlc { color: #ffff00; }
/* Pick Another Mission Link */
p#link {
    display: block;
    text-align: center;
    font-size: 1.75em;
    padding-top: 1.5em;
    font-weight: 700;
}
p#link a {
    color: #00a0fa;
    text-decoration: none;
}
/* Greenscreen Toggle */
#greenscreen {
    float: right;
    opacity: 0.5;
    cursor: pointer;
    margin: 0 0.5em 0.5em 0;
}

/* FOOTER ------------------------------------------------------------------- */
.disclaimer {
    width: 500px;
    margin: 0 auto;
    font-size:0.8em;
    line-height: 1.5em;
    color: #ccc;
    text-shadow: 1px 1px 0 #000;
    font-family: arial,sans-serif;
}
.disclaimer a {
    text-decoration: none;
    color: #ccc;
}
.disclaimer a:hover { text-decoration: underline;}
#contact{text-align: center;}